name: pytest

on:
  push:
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: "1"
      GITHUB_ACTIONS: "true"
      CLICOLOR_FORCE: "1"
      CI: "true"
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
          activate-environment: "true"
          enable-cache: "true"
          restore-cache: "true"
          save-cache: "true"
          cache-python: "true"
      - run: uv sync --group dev
      - run: PYTHONPATH=src uv run python -m pytest
